.navbar .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-link.active {
    border-bottom: white 2px solid;
    margin-bottom: -1px;
}

.nav-link {
    /* color: #fbc100 !important; */
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover {
    color: rgba(255,255,255,.55) !important;
}

.navbar-brand {
    color: #fbc100;
    font-weight: bolder;
    font-size: 26px;
    padding: .25rem .25rem .5rem .75rem;
}

.navbar-brand:hover {
    color: rgba(255,255,255,.55) !important;
}

.navbar{
    /* background-color: #005a9e; */
    background: linear-gradient(to right, #005A9E 0%, #00959E 100%);
    position: sticky;
    top: 0;
}

.navbar-toggler {
    background-color: #fbc100;
    color: #005a9e;
}

body {
    min-height: 100vh;
    /* background: white; */
    background-image: linear-gradient(to bottom, #ffffff, #edeef2, #d8dee4, #c2cfd6, #acc0c6);
    /* background: linear-gradient(0deg, rgb(175, 174, 174) 0%, rgb(255, 255, 255) 100%); */
}

.content {
    min-height: 100vh;
}

.officeapps {
    display: grid;
    place-items: center;
    /* grid-template-columns: auto auto auto; Allows 3rd column */
    grid-template-columns: auto auto; /* Remove to add 3rd column */
    margin: auto; /* Remove to add 3rd column */
    max-width: 780px; /* Remove to add 3rd column */
    row-gap: 3rem;
    justify-content: space-evenly;
}

.officeapps > a{
    text-align: center;
    text-decoration: none;
}

.officeapps > a:hover {
    /* box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1); */
    transform: scale(1.10, 1.10);
    opacity: 0.3;
}

a > p {
    font-size: 22px;
    font-weight: bolder;
    color: black;
}

.vr {
    min-width: 3px !important;
}

@media (max-width:990px) {
    .vr{
        display: none;
    }
    .icon{
        padding-bottom: 1rem;
    }
    .nav-link{
        border-top: solid;
        border-color: gray !important;
        border-width: .05rem;
    }
}

footer {
    background-color: #947B66;
    color: white;
}

td {
    text-align: center;
}

.contact {
    min-height: 75vh;
    padding: 5vh;
}

.contact_bg {
    background-color:blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: white;
    text-shadow: 2px 2px black;

}

.contact_bg p {
    font-size: 18px;
}

#margin_form {
    width: 75%;
    margin: 0 auto;
}

.title {
    text-align: center;
    max-width: 90%;
    margin: auto;
}

.title h1 {
    font-size: 50px;
    color: black;
    padding-top: 2rem;
}

.title p {
    color: black;
    font-size: 20px;
}

#title_style {
    border: 3px solid white !important;
    opacity: .5 !important;
    border-radius: 5px;
}

#outline {
    box-shadow: -1px 0 0 lightgray;
}

.outline {
    border: white solid 1px;
    border-radius: 10px;
}

.commitment h3{
    font-size: 30px;
}

.commitment p {
    font-size: 18px;
}

.text-shade {
    background-color: rgba(52, 146, 52, 0.5) !important;
}

.round {
    border-radius: 10px;
}

.service-head h2 {
    text-decoration: underline;
}

@media (max-width:770px) {

    .officeapps {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
    }

    #service-card {
        width: 100%;
    }

    #outline {
        box-shadow: none;
    }

    .reverse {
        flex-direction: column-reverse;
    }

}

@media (max-height:815px) {

    .title p {
        font-size: 14px;
    }
}
